@use '@angular/material' as mat;

@import '../../../../../custom-theme.scss';


  
  
  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
    overflow-y: auto;
    
  }
  table{
   
    padding: 20px;
    
  }
  .mat-mdc-header-cell{
    font-size: 1.2em;
    font-weight: bold;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: var(--mdc-theme-text-secondary-on-dark);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: var(--mdc-theme-text-secondary-on-dark);
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid var(--mdc-theme-primary);
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    padding-top: 16px;
  }
  .transparent,.transparent table{
    background: transparent;
  }
  h1{
    text-align: center;
    margin-top: 16px;
  }
  

