<mat-card class="dashboard-card" [ngClass]="mode">
    <mat-card-header>
      <mat-card-title>
        {{title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div #chart *ngIf="chartOptions != undefined">
            <ngx-charts-advanced-pie-chart
                [view]="chartOptions.view"
                [scheme]="chartOptions.colorScheme"
                [results]="chartOptions.results"
                [gradient]="chartOptions.gradient"
                >
            </ngx-charts-advanced-pie-chart>
        </div>
        <p>width {{width}}</p>
    </mat-card-content>
</mat-card>
