::ng-deep .advanced-pie-legend .legend-items-container .legend-items{
    overflow: visible !important;
}
:host{

  height: 100%;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.dashboard-card {
  display: flex;
  height: 100%;
  width: 100%;
  //flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dashboard-card-content{
  height: 100%;
  width: 100%;
}
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

mat-card-content{
  height: 100%;
  text-align: left;
  
}
mat-card-content > div{
  height: 100%;
  margin-top: 1.5em;
}
.transparent{
  background: transparent;
}
.box{
  background: transparent;
  border: 4px solid ;
}

::ng-deep .item-value{
  font-size: 1.5em !important;
  

  @media screen and (max-width: 599.98px) and (orientation: portrait) {
    font-size: 0.7em  !important;
  } 
  @media screen and (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape){
    font-size: 1.3em  !important;
  } 

}


