<mat-card class="dashboard-card" [ngClass]="mode">
    <mat-card-header>
      <mat-card-title>
        <h1>{{values.title}}</h1>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="values.showMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div fxLayout="column" fxLayoutGap="8px">
        <div fxFlex="80%" class="statistics-number">
          <p>{{values.value}}</p>
          <p>{{values.text}}</p>
        </div>
        <div fxFlex="10%" class="progress">
          <span>pendding {{values.pendding}}</span>
          <span >{{values.progress}}</span>
          
        </div>
        <div fxFlex="10%">
          <mat-progress-bar mode="determinate" value="69"></mat-progress-bar>
        </div>
        
        
      </div>
    </mat-card-content>
</mat-card>
