:host{

  height: 100%;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.dashboard-card {
  display: flex;
  height: 100%;
  width: 100%;
  //flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dashboard-card-content{
  height: 100%;
  width: 100%;
}
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

mat-card-content,.apexcharts-legend{
  height: 100%;
  text-align: left;
  
}
mat-card-content > div{
  height: 100%;
  margin-top: 1.5em;
}
.transparent{
  background: transparent;
}
.box{
  background: transparent;
  border: 4px solid ;
}



.statistics-number{
  text-align: left;
  padding-top: 0.5em;
}
.statistics-number p:nth-child(1){
  font-size: 10em;
  padding-top: 0.2em;
}
.statistics-number p:nth-child(2){
  font-size: 2em;
  color: var(--mdc-theme-text-secondary-on-dark);
  padding-top: 1em;
}

.progress{
  display: flex !important;
  font-size: 1.2em;
  justify-content: space-between !important;
}

