<mat-card class="dashboard-card" [ngClass]="mode">
    <mat-card-header>
      <mat-card-title>
        {{title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div #chart *ngIf="chartOptions != undefined">
            <ngx-charts-line-chart
                [view]="chartOptions.view"
                [scheme]="chartOptions.colorScheme"
                [legend]="chartOptions.legend"
                [showXAxisLabel]="chartOptions.showXAxisLabel"
                [showYAxisLabel]="chartOptions.showYAxisLabel"
                [showGridLines]="chartOptions.showGridLines"
                [xAxis]="chartOptions.xAxis"
                [yAxis]="chartOptions.yAxis"
                [xAxisLabel]="chartOptions.xAxisLabel"
                [yAxisLabel]="chartOptions.yAxisLabel"
                [results]="chartOptions.results"
                [curve]="curve"
                >
</ngx-charts-line-chart>
        </div>
    </mat-card-content>
</mat-card>

